@import 'jeet'
@import 'util.styl'

edit()

body
  margin 0
  width 100%
  height 500%
  position absolute
  // Gradient Color from Light blue to light green
  // Different Browsers 
  gradient()
.container
  position absolute
  gradient()  

.nav
  width 100%
  height auto
  margin-top 1rem
  //column(1/1)

.menu
  position relative
  span(bpsplit)
.menu > #sidebar
  margin-left 1rem  

.logo 
  position relative
  span(4/5)
#logo 
  center(10%)
  //align center

.other
  position relative
  span(bpsplit)
.other > #other
  float right
  margin-right 0.9rem

.textfield
  position relative
  center(80%)
  height 10%
  margin-top 10rem

#inputbox
  position relative
  margin-top 1rem

.btnfield
  position relative
  margin-top 2rem
  height auto
  center(20%)

.startBtn
  span(1/2)
  position relative
.startBtn > button
  float right  
.stopBtn
  position relative
  span(1/2)

.viewfield
  center(50%)
  position relative
  margin-top 2rem
  
    
  
  
  