@import 'jeet'

// Variables

lightblue = #A1FEFF
lightgreen = #B2F8ED
bpsplit = 1/10

// Functions

gradient()
  background -webkit-repeating-linear-gradient(lightblue, lightgreen) !important
  background -o-repeating-linear-gradient(lightblue, lightgreen) !important
  background -moz-linear-gradient(lightblue, lightgreen) !important
  background linear-gradient(lightblue, lightgreen) !important

